.projectOverlay {

  background: rgba(66, 66, 66, 0.571)
}

.projectModal {
  max-width: 100vw;
  border-radius: 1rem;
  padding: 0;
}

.react-responsive-modal-closeButton {
  z-index: 30;
  padding: 0;
}